<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">EOBackbone</a>

      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "/#/dashboard" do %>
            Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to "/#/dashboard" do %>
            <i class="fa fa-database mr-2"></i> Orders
          <% end %>
        </li>
        <li>
          <%= link_to "/#/sell_requests" do %>
            <i class="fa fa-edit mr-2"></i> Sell Request
          <% end %>
        </li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_user.present? %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= current_user.name %> | Logout
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
