<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">EOBackbone</a>

      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <!-- <li>
          <%= link_to "/#/dashboard" do %>
            Dashboard
          <% end %>
        </li> -->
      <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-edit mr-2"></i>
                  Orders
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li>
                      <%= link_to "/#/orders" do %>
                      Sell Orders
                      <% end %>
                  </li>
                  <li>
                      <%= link_to "/#/buy_orders" do %>
                      Buy Orders
                      <% end %>
                  </li>
                  <li>
                      <%= link_to "/#/sell_requests" do %>
                      Sell Requests
                      <% end %>
                  </li>
                  <li>
                      <%= link_to "/#/buy_requests" do %>
                      Buy Requests
                      <% end %>
                  </li>
              </ul>
          </li>
      </ul>
       <li>
          <%= link_to "http://eosrp.eosystems.net" , :target => "_blank" do %>
            <i class="fa fa-plane mr-2"></i>SRP
          <% end %>
        </li>
         <li>
          <%= link_to "http://app.eopes.link", :target => "_blank" do %>
            <i class="fa fa-industry mr-2"></i>Industry
          <% end %>
        </li>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-eye mr-2"></i> Trade Tool <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "/#/trades" do %>
                      Trade
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "/#/trade_histories" do %>
                      Trade History
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "/#/wallet_transactions" do %>
                      Wallet Transaction
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "/#/user_market_orders" do %>
                      Market Order
                    <% end %>
                  </li>
                </ul>
            </li>
        </ul>

      </ul>


      <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-usd mr-2"></i> Accounting <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "/#/corp_wallet_journals" do %>
                    Corp Wallet Journals
                  <% end %>
                </li>
              </ul>
          </li>
      </ul>


      <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cog mr-2"></i> API <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "/#/api_applications" do %>
                    API Application
                  <% end %>
                </li>
                <li>
                  <%= link_to "/#/api_managements" do %>
                    API Management
                  <% end %>
                </li>
              </ul>
          </li>
      </ul>

      <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cog mr-2"></i> Master <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "/#/departments" do %>
                    Department
                  <% end %>
                </li>
              </ul>
          </li>
      </ul>

    </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_user.present? %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= current_user.name %> | Logout
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
